body {
  background-color: #fff;
  color: var(--NAVY-BLUE, #2e2f42);
  font-family: Roboto, sans-serif;
}

ul {
  list-style-type: none;
}

.header-list-link {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}

.header-list-link:focus,
.header-list-link:hover {
  color: var(--OCEAN, #404bbf);
}

.header-list-link:active {
  color: var(--OCEAN, #404bbf);
  text-decoration: underline;
}

.header-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1, 166666666666667;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.header-adress-link {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  text-decoration: none;
}

.header-adress-link:focus,
.header-adress-link:hover {
  color: var(--OCEAN, #404bbf);
}

.hero {
  background-color: var(--NAVY-BLUE, #2e2f42);
  color: var(--WHITE, #fff);
}

.hero-title {
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1, 071428571428571; /* 107.143% */
  letter-spacing: 1.12px;
}

.hero-button {
  background-color: var(--IRIS, #4d5ae5);
  color: var(--WHITE, #fff);
}

.hero-button:hover {
  background-color: var(--OCEAN, #404bbf);
}

.features-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1, 2; /* 120% */
  letter-spacing: 0.4px;
}

.features-small-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1, 2; /* 120% */
  letter-spacing: 0.4px;
}

.features-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.team {
  background-color: var(--CLOUD, #f4f4fd);
}

.team-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1, 111111111111111; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.team-small-title {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.team-text {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.portfolio-title {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1, 111111111111111; /* 111.111% */
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.portfolio-small-title {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2; /* 120% */
  letter-spacing: 0.4px;
}

.portfolio-text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.footer {
  background-color: var(--NAVY-BLUE, #2e2f42);
}

.footer-logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1, 166666666666667; /* 116.667% */
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-text {
  color: var(--CLOUD, #f4f4fd);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
}

.logo-studio-black {
  color: var(--NAVY-BLUE, #2e2f42);
}

.logo-studio-white {
  color: var(--CLOUD, #f4f4fd);
}
